<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
<header class="header">
    <div class="container">
        <h1 class="header title">List of all cars in DB</h1>
    </div>
</header>
<div class="container">
  <form action="/search" method="post">
    <div class="form-group w-25">
    <select class="form-select" aria-label="Default select example" name="method" id="search_method" onselect="add_search_value()">
    <option selected>Select search method</option>
    <option value="manufacturer">Manufacturer</option>
    <option value="model">Model</option>
    <option value="year">Year</option>
    <option value="color">Color</option>
    <option value="vin">Vin</option>
    </select>
    <br>
    </div>
    <div class="form-group w-25" id="search_query" >
      <input type="text" class="form-control" name="query" id="query" placeholder="search query" required />
      <br>
      <button type="submit" class="btn btn-info">Search</button>
    </div>
  </form>
  <form action="/main" method="get">
    <button type="submit" class="btn btn-dark">clear search</button>
  </form>
  <br>
<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Model</th>
      <th scope="col">Year</th>
      <th scope="col">Color</th>
      <th scope="col">VIN</th>
      <th scope="col">actions</th>
    </tr>
  </thead>

  <tbody>
    {% for car in cars %}
    <tr>
      <th>{{loop.index}}</th>
      <td>{{car.manufacturer}}</td>
      <td>{{car.model}}</td>
      <td>{{car.year}}</td>
      <td>{{car.color}}</td>
      <td>{{car.vin}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <form action="/edit_car" method="post">
            <input type="hidden" name="car_id" value={{car._id}} />
            <button type="submit" class="btn btn-warning">Edit</button>
          </form>
          <form action="/delete_car" method="post">
            <input type="hidden" name="car_id" value={{car._id}} />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form action="/new" method="post">
  <button type="submit" class="btn btn-primary">Add new car</button>
</form>
</div>
</body>
<script>
"use strict";
function add_search_value() {
    document.getElementById('search_query').hidden = true;
}
</script>
</html>