<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New_user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
    <div class="border border-primary p-4">
    <form action="/register" method="post" accept-charset="utf-8"
          enctype="application/x-www-form-urlencoded">
        <div class="form-group w-25">
            <label for="login">Login</label>
            <input id="login" class="form-control" name="login" type="text" value="" required autofocus/>
        </div>
        <div class="form-group w-25">
            <label for="password1">Password</label>
            <input id="password1" class="form-control" name="password" type="password" required onchange='compare_pass()'/>
        </div>
        <div class="form-group w-25">
            <label for="password2">Confirm password</label>
            <input id="password2" class="form-control" name="password2" type="password" required onchange='compare_pass()'/>
        </div>
        <br>
            <input type="submit" value="Submit" disabled/>
    </form>
    </div>
</div>
</body>
<script>
"use strict";
function compare_pass() {
    let pass1 = document.getElementById('password1');
    let pass2 = document.getElementById('password2');
if (pass1.value === pass2.value) {
    document.getElementById('submit').disabled = false;
    pass1.style.color = 'green';
    pass2.style.color = 'green';
} else {
    document.getElementById('submit').disabled = true;
    pass1.style.color = 'red';
    pass2.style.color = 'red';
}
}
</script>
</html>